[submodule "nano-emacs"]
	path = nano-emacs
	url = https://github.com/rougier/nano-emacs.git
[submodule "all-the-icons.el"]
	path = all-the-icons.el
	url = https://github.com/domtronn/all-the-icons.el.git
